.header {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  input {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin: 1.2rem 0;
  }

  .submitButton {
    display: inline-block;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    background: var(--primary-color);
    color: #fff;
    width: 100px;
    margin: 0;
  }

  .link {
    margin: 1rem 0;
  }
}
